<%- include("header") -%>

  <div class="help">
    <button type="button" class="collapse">
        How to?
    </button>
    <div class="helpText">
      To create a new List write the custome List name in the Url. for example
      "../home" or "../work". All the lists will be saved in database(MongoDB).
      Later you can access the list in the same way you created "../home" or 
      "../work". 
    </div>
  </div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(newListItem){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= newListItem._id %>" onchange="this.form.submit()">
          <p><%= newListItem.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>   
    <% }); %> 
    <form class="item" action="/" method="post">
       <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
       <button class="addButton" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

  <script>
    var btn = document
        .getElementsByClassName("collapse");
      
    btn[0].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
      
  </script>

<%- include("footer") -%>
